{% extends "base.twig" %}
{% block body %}

    <div class="container">
      <div class="row">
      <div class="col-md-4  toppad  pull-right">
       <br>
<p class=" text-info"> {{ "now"|date("d/m/Y") }}</p>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{ usuario }}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="../../img/backgrounds/musculo.png" class="img-circle img-responsive"> </div>
                
                <div class=" col-md-9 col-lg-9 "> 
                <form id="updatePerfil" action='perfilAlumno.php' method='POST'>
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Nombre:</td>
                        <td class="inputSwitchNombre"><span>{{ nombreCompleto }}</span></td>
                        <td><span id="updateNombre" type="button" class="glyphicon glyphicon-pencil"></span></td>
                      </tr>
                      <tr>
                        <td>Apellido:</td>
                        <td class="inputSwitchApellido"><span>{{ apellido }}
                        </span></td>
                        <td><span id="updateApellido" type="button" class="glyphicon glyphicon-pencil"></span></td>
                      </tr>
                      <tr>
                        <td>Cantidad Semanal:</td>
                        <td class="inputSwitchcantSemanal"><span>{{ cantSemanal }}
                        </span></td>
                        <td><span id="updatecantSemanal" type="button" class="glyphicon glyphicon-pencil"></span></td>
                      </tr>
                      <tr>
                        <td>Celular</td>
                        <td class="inputSwitchCelular"><span>{{ celular }}
                        </span></td>
                        <td><span id="updateCelular" type="button" class="glyphicon glyphicon-pencil"></span></td>
                      </tr>

                      <tr>
                      <td>Email</td>
                        <td class="inputSwitchEmail"><span>{{ email }}
                        </span></td>
                        <td><span id="updateEmail" type="button" class="glyphicon glyphicon-pencil"></span></td>
                      </tr>
                        
                      </tr>
                     
                    </tbody>
                  </table>
                  <input type="hidden" name="idUsuario" value="{{ idUsuario }}">
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <button type="submit" class="btn btn-success" style="width:100%;">Guardar</button>
                </div>
            
          </div>
        </div>
      </div>
    </div>

{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $().ready(function() {

$("#updateApellido").on("click", function() {
    var input = $('<input />', {'type': 'text', 'name': 'apellido', 'value': $(".inputSwitchApellido span").html()});
        $(".inputSwitchApellido span").parent().append(input);
        $(".inputSwitchApellido span").remove();
});

$("#updateNombre").on("click", function() {
    var input = $('<input />', {'type': 'text', 'name': 'nombreCompleto', 'value': $(".inputSwitchNombre span").html()});
        $(".inputSwitchNombre span").parent().append(input);
        $(".inputSwitchNombre span").remove();
});

$("#updateEmail").on("click", function() {
    var input = $('<input />', {'type': 'text', 'name': 'email', 'value': $(".inputSwitchEmail span").html()});
        $(".inputSwitchEmail span").parent().append(input);
        $(".inputSwitchEmail span").remove();
});

$("#updatecantSemanal").on("click", function() {
    var input = $('<input />', {'type': 'text', 'name': 'cantSemanal', 'value': $(".inputSwitchcantSemanal span").html()});
        $(".inputSwitchcantSemanal span").parent().append(input);
        $(".inputSwitchcantSemanal span").remove();
});

$("#updateCelular").on("click", function() {
    var input = $('<input />', {'type': 'text', 'name': 'celular', 'value': $(".inputSwitchCelular span").html()});
        $(".inputSwitchCelular span").parent().append(input);
        $(".inputSwitchCelular span").remove();
});
    });

</script>
{% endblock %}